////////////////////////////////////////////
$main_color: #00c986;
$second_color:  purple;
////////////////////////////////////////////


$facebook: #3954a1;
$twitter: #56d7fe;
$whatsapp: #25d366;
$instagram: #e95950;
$youtube: red;

//// UIKIT
$global-link-color: $main_color;
$global-link-hover-color: $second_color;

/* Bg color on primary */
$global-primary-background: $main_color;
/* Bg color on inverse */
$global-secondary-background: black;
/* Other bg */
$global-success-background: #32d296;
$global-warning-background: #faa05a;
$global-danger-background: #f0506e;
/* Off canvas colors */
$offcanvas-bar-background: #ffffff;
$offcanvas-bar-color-mode: none;
/* Font color */ 
$global-color: black;
$global-emphasis-color: $main_color;
$global-inverse-color: #fff;