//HTML RESET
body,html{
    font-size: 16px;
    position: relative;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
}
html{
    height: 100%;
}
body{
    min-height: 100%;
}
// RESETS
#main_page{
    overflow-x: hidden;
    font-size: 16px;
    position: relative;
    width: 100%;
    body, h1, h2, h3, h4, h5, h6 , p, a, button, span, ul, li, label, input, textarea, select{
        font-family: $main_font;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    input[type="text"], input[type="password"], input[type="submit"], button, select, button{
        -webkit-appearance: none;
        border-radius: 0;
    }
    figure{
        margin: 0;
    }
    img{
        -webkit-backface-visibility: hidden;
        -ms-transform: translateZ(0);
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        max-width: 100%;
        &[src*='data:image']{
            background-image: url(../images/img-load.svg);
            background-size: 5em auto;
            background-repeat: no-repeat;
            background-position: center center; 
        }
    }
    .uk-cover{
        transform: translateX(-50%) translateY(-50%) translateZ(0);
        max-width: initial;
    }
    li{
        list-style-type: none;
    }
    ul{
        margin: 0;
        padding: 0;
    }
    a, a:hover{
        text-decoration: none;
    }
    button{
        border: none;
        outline: none;
        cursor: pointer;
    }
    *[cover-fit], *[update-fit], *[modal-fit], *[custom-fit], *[parent-fit]{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
        max-width: initial;
        min-width: initial;
        &.height-predominant{
            width: auto;
            height: 100%;
        }
    }
    .icon.icon-circle{
        position: relative;
        display: inline-block;
        width: 2em;
        height: 2em;
        background-color: $main_color;
        color: white;
        border-radius: 50%;
        &:before{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .imgload{
        background-color: $main_color;
        background-image: url(../images/img-load.svg);
        background-position: center;
        background-repeat: no-repeat; 
        background-size: 5em;
    }
}