#main_page{
    header{
        >h1{
            padding-top: 6.25em;
            padding-bottom: 6.25em;
            font-size: 1em;
            text-align: center;
            @media(max-width: 959px){
                font-size: 0.75em;
                margin-bottom: 0;
            }
            img{
                width: 100%;
                max-width: 22.18em;
            }
        }
        >button{
            background: none;
            border: none;
            outline: none;
            display: flex;
            align-items: center;
            img{
                max-width: 5.625em;
            }
            span{
                font-size: 1.2em;
                color: #aaaaaa;
                text-transform: uppercase;
                line-height: 1;
                margin-left: 0.25em;
                margin-top: 0.2em;
            }
            i{
                color: #c74b5a;
                font-size: 2.75em;
            }
        }
    }
    .hero{
        position: relative;
        margin-top: 3.125em;
        @media(min-width: 960px){
            padding-top: 10em;
        }
        .offlayer{
            @media(min-width: 960px){
                z-index: 1;
                position: absolute;
                top: 0;
                left: calc(50% - 9.375em);
                width: calc(50% + 9.375em);
                height: calc(100% - 9.375em - 3em);
            }
            @media(max-width: 959px){
                position: relative;
                width: 100%;
                height: 350px;
                background: red;
            }
            ul{
                height: 100%;
                li{
                    overflow: hidden;
                    position: relative;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        >[class*=uk-container]{
            display: flex;
            z-index: 2;
            position: relative;
            padding-bottom: 3em;
            @media(max-width: 959px){
                padding: 0 0 3em 0;
                margin-top: -12.5%;
            }
            article{
                width: 50%;
                @media(max-width: 639px){
                    font-size: 0.8em;
                    width: 70%;
                }
                .title-box{
                    width: 100%;
                    position: relative;
                    height: 0;
                    padding-bottom: 100%;
                    overflow: visible;
                    z-index: 1;
                    background-color: rgba(30, 178, 213, 0.78);
                    @media(max-width: 959px){
                        padding-bottom: 0;
                        height: 14em;
                    }
                    &:after{
                        content: "";
                        position: absolute;
                        width: 5.625em;
                        height: 5.625em;
                        background-color: #f2db3a; 
                        bottom: 0;
                        right: 0;
                        transform: translate(50%, 50%);
                        mix-blend-mode: multiply;
                        @media(max-width: 959px){
                            font-size: 0.6em;
                        }
                    }
                    .box{
                        @include absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        h2{
                            color: white;
                            font-size: 6.21875em;
                            text-transform: uppercase;
                            font-weight: 700;
                            line-height: 1;
                            margin: 0;
                            width: 4em;
                            @media(max-width: 959px){
                                font-size: 3.5em;
                            }
                        }
                    }
                }
            }
            ul{
                display: flex;
                justify-content: center;
                align-items: flex-end;
                width: 50%;
                padding-bottom: 10%;
            }
        }
    }
    .content_01{
        margin-top: 18.125em;
        @media(max-width: 959px){
            margin-top: 5em;
        }
        >figure{
            width: 100%;
            text-align: right;
            img{
                width: 100%;
                max-width: 45%;
            }
        }
        >div{
            .title{
                font-size: 4.6875em;
                color: #494949; 
                line-height: 1;
                max-width: 11em;
                letter-spacing: 0.05em;
                margin-top: 1.5em;
                position: relative;
                z-index: 2;
                @media(max-width: 959px){
                    font-size: 3.125em;
                    text-align: center;
                    max-width: 33.125rem;
                    margin: 0 auto;
                }
            }
            >[class*=grid]{
                justify-content: space-around; 
                margin-top: 3em;
                position: relative;
                margin-left: 0;
                z-index: 1;
                @media(max-width: 959px){
                    margin-top: 1em;
                }
                &:before{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: calc(100% - 11%);
                    top: 0;
                    left: 0;
                    background-color: #f7f7f7;
                    z-index: -1;
                    transform: translateY(-3em - 2.5em);
                }
                article{
                    margin: 0;
                    padding: 0;
                    @media(max-width: 959px){
                        max-width: 33.125rem;
                    }
                    figure{
                        padding-bottom: 100%;
                        overflow: hidden;
                    }
                    &:first-child{
                        p{
                            font-size: 1.3125em;
                            font-weight: 200;
                            color: #999999;
                            margin-top: 2.5em;
                            @media(max-width: 959px){
                                margin-top: 0;
                                text-align: center;
                            }
                        }
                        figure{
                            margin-top: 5em;
                        }
                    }
                    &:last-child{
                        text-align: center;
                        @media(max-width: 959px){
                            display: flex;
                            flex-direction: column;
                        }
                        figure{
                            transform: scale(.8);
                            @media(max-width: 959px){
                                order: 2;
                            }
                        }
                        a{
                            font-size: 1.5625em;
                            font-family: $second_font;
                            font-weight: 300;
                            text-transform: uppercase;
                            padding: 0 1.875em;
                            line-height: 2.375em;
                            background-color: rgba(#b74e5d, 0.9);
                            @media(max-width: 959px){
                                order: 1;
                                max-width: 8.6em;
                                margin: 0 auto;
                                transform: translateY(3.2em);
                            }
                        }
                    }
                }
            }
        }
    }
    .content_02{
        margin-top: 10em;
        padding-bottom: 5em;
        position: relative;
        z-index: 1;
        &:after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: calc(50% + 2em);
            height: 600px;
            background-color: #f7f7f7;
            z-index: -1;
        }
        .title{
            font-size: 7.875em;
            color: #494949;
            position: relative;
            z-index: 1;
            line-height: 1;
            margin-bottom: 0.75em;
            @media(max-width: 959px){
                font-size: 6.0625em;
                text-align: center;
            }
            i{
                font-size: 0.5em;
                color: #f2db3a; 
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transform: translate(-0.3em, -0.3em);
            }
        }
        p{
            width: 50%;
            margin-left: 50%;
            font-weight: 200;
            color: #999999;
            font-size: 1.3125em;
            line-height: 1.3;
        }
        .image-grid{
            display: flex;
            align-items: center;
            .column{
                width: 25%;
                @media(max-width: 959px){
                    width: 100%;
                    display: flex;
                }
                &:first-child, &:last-child{
                    padding-bottom: 10%;
                }
                figure{
                    overflow: hidden; 
                    height: 0;
                    padding-bottom: 100%;
                    position: relative; 
                    @media(max-width: 959px){
                        width: 33.3%;
                        padding-bottom: 33.3%;
                    }
                    img{
                    }
                }
            }
        }
        .button-container{
            text-align: center;
            margin-top: 2em;
            a{
                font-size: 1.25em;
                font-family: $lato;
                font-weight: 400;
                text-transform: uppercase;
                padding: 0 1.875em;
                line-height: 2.375em;
                background-color: #ec8423; 
                letter-spacing: 0.05em;
            }
        }
        @media(max-width: 959px){
            margin-top: 3em;
            margin-bottom: 3em;
            padding: 0;
            display: flex;
            flex-direction: column;
            &:after{
                width: calc(100% - 2em);
                max-width: 35.625em;
                height: 500px;
                left: 50%;
                transform: translate(-50%, 3em);
                right: inherit;
                right: initial;
            }
            h2{
                order: 1;
            }
            p{
                order: 3;
                width: 100%;
                text-align: center;
                margin: 3em 0 0 0;
                max-width: calc(35.625rem - 2em); 
                margin: 2rem auto 0;
            }
            .image-grid{
                order: 2;
            }
            .button-container{
                order: 4;
                a{
                    z-index: 2;
                    position: relative;
                }
                figure{
                    width: 15.625em;
                    height: 15.625em;
                    position: relative;
                    padding-bottom: 0; 
                    overflow: hidden;
                    margin: -1em auto 0;
                }
            }
        }
    }
    footer{
        background: #00afd4;
        padding-top: 2em;
        padding-bottom: 2em;
        [class*=container]{
            padding-top: 0;
            [class*=grid]{
                margin: 0;
                >*{
                    padding: 0;
                }
                ul{
                    li{
                        a{
                            font-family: $lato;
                            color: white;
                            font-weight: 300;
                        }
                    }
                }
                figure{
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    img{
                        width: 100%;
                        max-width: 10em;
                    }
                }
            }
            address{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                border-top: 1px solid white;
                padding-top: 1em;
                margin-top: 2em;
                ul{
                    padding: 0;
                    margin: 0;
                    li{
                        a{
                            font-family: $lato;
                            color: white;
                            font-weight: 300;
                        }
                    }
                    &:first-child{

                    }
                    &:last-child{
                        li{
                            display: inline-block;
                            a{
                                font-size: 2em;
                                img{
                                    width: 1.5em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
#main_nav{
    body, h1, h2, h3, h4, h5, h6 , p, a, button, span, ul, li, label, input, textarea, select{
        font-family: $lato;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    [class*=offcanvas-bar]{
        [class*=offcanvas-close]{}
        background-color: #1ea3c4;
        width: 100%;
        >[class*=grid]{
            height: 100%;
            display: flex;
            align-items: center;
            >ul{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                li{
                    list-style-type: none;
                    display: inline-block;
                    a{
                        text-transform: uppercase;
                        font-size: 3em;
                        text-decoration: none;
                        position: relative;
                        &:after{
                            content: "";
                            position: absolute;
                            width: 0.5em;
                            height: 0.085em;
                            border-radius: 0.05em;
                            background-color: white;
                            left: 0;
                            top: 100%;
                            transition: all .3s ease;
                        }
                    }
                    &:hover{
                        a{
                            &:after{
                                width: 100%;
                            }
                        }
                    }
                }
            }
            address{
                h2{
                    font-size: 1em;
                    img{
                        width: 100%;
                        max-width: 12.5em;
                    }
                }
                >a{
                    font-family: $lato;
                    font-weight: 300; 
                }
                ul{
                    padding: 0;
                    li{
                        display: inline-block;
                        a{
                            text-decoration: none;
                            font-size: 2em;
                        }
                    }
                }
            }
        }
    }
}