//GOOGLE FONTS
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800');
//// PATHS
$webfont-path: "../fonts/webfonts/" !default;
$icon_rute: '../fonts/iconfonts/';

//// IMPORTS
@import 'webfonts';
@import './dist/fonts/iconfonts/icon';

///// VARIABLES
//--------------------
$arista: 'Arista Pro Alternate', sans-serif;
$lato: 'Lato', sans-serif;
$main_font: $arista;
$second_font: $lato;