//// GILROY BLACK
@font-face {
    $rute: 'aristaproalternate-extralight';
    font-family: 'Arista Pro Alternate';
    src: url('#{$webfont-path}#{$rute}.eot');
    src: url('#{$webfont-path}#{$rute}.eot?#iefix') format('embedded-opentype'),
        url('#{$webfont-path}#{$rute}.woff2') format('woff2'),
        url('#{$webfont-path}#{$rute}.woff') format('woff'),
        url('#{$webfont-path}#{$rute}.ttf') format('truetype'),
        url('#{$webfont-path}#{$rute}.svg##{$rute}') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    $rute: 'aristaproalternate-light';
    font-family: 'Arista Pro Alternate';
    src: url('#{$webfont-path}#{$rute}.eot');
    src: url('#{$webfont-path}#{$rute}.eot?#iefix') format('embedded-opentype'),
        url('#{$webfont-path}#{$rute}.woff2') format('woff2'),
        url('#{$webfont-path}#{$rute}.woff') format('woff'),
        url('#{$webfont-path}#{$rute}.ttf') format('truetype'),
        url('#{$webfont-path}#{$rute}.svg##{$rute}') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    $rute: 'aristaproalternate';
    font-family: 'Arista Pro Alternate';
    src: url('#{$webfont-path}#{$rute}.eot');
    src: url('#{$webfont-path}#{$rute}.eot?#iefix') format('embedded-opentype'),
        url('#{$webfont-path}#{$rute}.woff2') format('woff2'),
        url('#{$webfont-path}#{$rute}.woff') format('woff'),
        url('#{$webfont-path}#{$rute}.ttf') format('truetype'),
        url('#{$webfont-path}#{$rute}.svg##{$rute}') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    $rute: 'aristaproalternate-bold';
    font-family: 'Arista Pro Alternate';
    src: url('#{$webfont-path}#{$rute}.eot');
    src: url('#{$webfont-path}#{$rute}.eot?#iefix') format('embedded-opentype'),
        url('#{$webfont-path}#{$rute}.woff2') format('woff2'),
        url('#{$webfont-path}#{$rute}.woff') format('woff'),
        url('#{$webfont-path}#{$rute}.ttf') format('truetype'),
        url('#{$webfont-path}#{$rute}.svg##{$rute}') format('svg');
    font-weight: 700;
    font-style: normal;
}